In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
before = pd.read_csv('/content/drive/MyDrive/DS프로젝트_개인/노선별 부산버정_csv버전.csv', encoding='cp949')
before.head()

,BUSLINENUM,ORD,NAME,SIGUNNAME,GUNAME,DONGNAME,X,Y,UNIQUEID,BUSSTOPID
0,10,1,연제공용버스차고지,부산광역시,NaN,NaN,129.053172,35.185243,13179,50000001059
1,10,2,초읍고개,부산광역시,NaN,NaN,129.054089,35.185475,13183,50000002492
2,10,3,개인택시조합,부산광역시,연제구,거제2동,129.055711,35.186786,13132,21130521003
3,10,4,부산의료원,부산광역시,연제구,거제2동,129.060579,35.188257,13123,21130521007
4,10,5,삼정그린아파트,부산광역시,연제구,거제2동,129.063026,35.189483,13029,21130521008

In [3]:
before = before.loc[:, ['BUSLINENUM', 'SIGUNNAME', 'GUNAME', 'X', 'Y', 'BUSSTOPID']]
before.head(10)

  BUSLINENUM SIGUNNAME GUNAME           X          Y    BUSSTOPID
0         10     부산광역시    NaN  129.053172  35.185243  50000001059
1         10     부산광역시    NaN  129.054089  35.185475  50000002492
2         10     부산광역시    연제구  129.055711  35.186786  21130521003
3         10     부산광역시    연제구  129.060579  35.188257  21130521007
4         10     부산광역시    연제구  129.063026  35.189483  21130521008
5         10     부산광역시    NaN  129.063543  35.192114  50000001064
6         10     부산광역시    NaN  129.060338  35.191465  50000001062
7         10     부산광역시    NaN  129.058850  35.194717  50000001060
8         10     부산광역시    동래구  129.056374  35.194977  21060591019
9         10     부산광역시    동래구  129.053622  35.197242  21060591001

In [4]:
nocity_before = before[before['GUNAME'].isnull()]
nocity = nocity_before[['X', 'Y']]

train_before = before.dropna(subset=['GUNAME'])
train = train_before[['X','Y']]
target = train_before['GUNAME']

In [7]:
classifier = KNeighborsClassifier(n_neighbors=1)
classifier.fit(train, target)

pred = classifier.predict(nocity)
pred_col = pd.Series(pred, index=nocity.index)
whole_pred = pd.Series(pred_col, index=list(range(0, 24012)))
whole_pred

0         연제구
1        부산진구
2         NaN
3         NaN
4         NaN
         ...
24007    해운대구
24008     기장군
24009     기장군
24010     기장군
24011     기장군
Length: 24012, dtype: object

In [8]:
before['GUNAMES'] = np.where(pd.isnull(before['GUNAME']), whole_pred, before['GUNAME'])
before

      BUSLINENUM SIGUNNAME GUNAME           X          Y    BUSSTOPID GUNAMES
0             10     부산광역시    NaN  129.053172  35.185243  50000001059     연제구
1             10     부산광역시    NaN  129.054089  35.185475  50000002492    부산진구
2             10     부산광역시    연제구  129.055711  35.186786  21130521003     연제구
3             10     부산광역시    연제구  129.060579  35.188257  21130521007     연제구
4             10     부산광역시    연제구  129.063026  35.189483  21130521008     연제구
...          ...       ...    ...         ...        ...          ...     ...
24007      해운대구9     부산광역시    NaN  129.203780  35.182334  50000001799    해운대구
24008      해운대구9     부산광역시    NaN  129.210541  35.183945  50000001797     기장군
24009      해운대구9     부산광역시    NaN  129.211603  35.186480  50000001795     기장군
24010      해운대구9     부산광역시    NaN  129.215000  35.190942  50000001793     기장군
24011      해운대구9     부산광역시    NaN  129.220253  35.193973  50000001791     기장군

[24012 rows x 7 columns]

In [9]:
before.drop_duplicates(['BUSSTOPID'], inplace=True)
before

      BUSLINENUM SIGUNNAME GUNAME           X          Y    BUSSTOPID GUNAMES
0             10     부산광역시    NaN  129.053172  35.185243  50000001059     연제구
1             10     부산광역시    NaN  129.054089  35.185475  50000002492    부산진구
2             10     부산광역시    연제구  129.055711  35.186786  21130521003     연제구
3             10     부산광역시    연제구  129.060579  35.188257  21130521007     연제구
4             10     부산광역시    연제구  129.063026  35.189483  21130521008     연제구
...          ...       ...    ...         ...        ...          ...     ...
24007      해운대구9     부산광역시    NaN  129.203780  35.182334  50000001799    해운대구
24008      해운대구9     부산광역시    NaN  129.210541  35.183945  50000001797     기장군
24009      해운대구9     부산광역시    NaN  129.211603  35.186480  50000001795     기장군
24010      해운대구9     부산광역시    NaN  129.215000  35.190942  50000001793     기장군
24011      해운대구9     부산광역시    NaN  129.220253  35.193973  50000001791     기장군

[8429 rows x 7 columns]

In [10]:
info = ['기장군', '금정구', '해운대구', '수영구', '남구', '동구', '중구', '영도구', '강서구', '북구', '사상구', '사하구', '동래구', '부산진구', '연제구', '서구']
total = pd.Series(before['GUNAMES'].value_counts(), index=info)
total

기장군      814
금정구      499
해운대구     620
수영구      243
남구       527
동구       250
중구       129
영도구      405
강서구     1124
북구       454
사상구      483
사하구      638
동래구      574
부산진구     680
연제구      314
서구       313
Name: GUNAMES, dtype: int64

In [11]:
un = [218.32, 65.28, 51.54, 10.22, 26.82, 9.87, 2.83, 14.2, 181.5, 39.37, 36.1, 41.77, 16.63, 29.67, 12.10, 13.95]
area = pd.Series(un, index = info)
area

기장군     218.32
금정구      65.28
해운대구     51.54
수영구      10.22
남구       26.82
동구        9.87
중구        2.83
영도구      14.20
강서구     181.50
북구       39.37
사상구      36.10
사하구      41.77
동래구      16.63
부산진구     29.67
연제구      12.10
서구       13.95
dtype: float64

In [12]:
popl = pd.read_csv('/content/drive/MyDrive/DS프로젝트_개인/부산 인구현황.csv', encoding='cp949')
popl

,구군,제공연도,동수,세대수,총인구수,남성인구수,여성인구수,시 전체 인구비율,인구밀도
0,부산광역시 해운대구,2020-07,18,170255,408611,196894,211717,11.8,7939
1,부산광역시 해운대구,2020-08,18,170290,407804,196437,211367,11.8,7923
2,부산광역시 해운대구,2020-09,18,170518,407443,196191,211252,11.8,7916
3,부산광역시 해운대구,2020-10,18,170815,407492,196181,211311,11.8,7917
4,부산광역시 해운대구,2020-11,18,171099,407182,196040,211142,11.8,7911
...,...,...,...,...,...,...,...,...,...
981,부산광역시,2019-12,206,1497908,3466563,1704098,1762465,100.0,4502
982,부산광역시,2020-01,205,1499152,3464508,1702899,1761609,100.0,4499
983,부산광역시,2020-02,205,1502333,3463429,1701907,1761522,100.0,4498
984,부산광역시,2020-03,205,1505897,3461724,1700307,1761417,100.0,4495
985,부산광역시,2019-06,206,1490226,3479684,1711770,1767914,100.0,4519

In [13]:
popl = popl.loc[:, ['구군', '제공연도', '총인구수']]
need_pop = popl[popl['제공연도']=='2019-08']

ppl = pd.Series(index=info)
for i in info:
  condition = ('부산광역시 '+i == need_pop['구군'])
  ppl[i] = (need_pop[condition]['총인구수'])/1000
ppl

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  after removing the cwd from sys.path.

기장군     167.203
금정구     245.408
해운대구    411.693
수영구     178.514
남구      283.444
동구       89.171
중구       44.278
영도구     119.870
강서구     132.825
북구      294.374
사상구     225.812
사하구     328.331
동래구     270.202
부산진구    362.128
연제구     210.572
서구      111.226
dtype: float64

In [14]:
sett = np.array([166756, 245489, 457402, 179958, 266520, 103246, 82810, 123586, 136115, 276922, 249460, 321592, 266507, 403883, 213763, 109185])
move = pd.Series(sett, index=info)/1000
move

기장군     166.756
금정구     245.489
해운대구    457.402
수영구     179.958
남구      266.520
동구      103.246
중구       82.810
영도구     123.586
강서구     136.115
북구      276.922
사상구     249.460
사하구     321.592
동래구     266.507
부산진구    403.883
연제구     213.763
서구      109.185
dtype: float64

In [15]:
lines = before[['BUSLINENUM', 'GUNAMES']]
whole_line = lines.groupby('GUNAMES')['BUSLINENUM'].unique()
whole_line = whole_line[info]

for i in info:
  whole_line[i] = len(whole_line[i])
whole_line

GUNAMES
기장군     41
금정구     37
해운대구    43
수영구     21
남구      28
동구      28
중구      21
영도구     19
강서구     37
북구      36
사상구     35
사하구     38
동래구     46
부산진구    69
연제구     31
서구      37
Name: BUSLINENUM, dtype: object

In [16]:
result = pd.concat([total, area, ppl, whole_line], axis=1)
result.columns = ['STOPNUM', 'AREA', 'PPL', 'BUSNUM']
result

      STOPNUM    AREA      PPL BUSNUM
기장군       814  218.32  167.203     41
금정구       499   65.28  245.408     37
해운대구      620   51.54  411.693     43
수영구       243   10.22  178.514     21
남구        527   26.82  283.444     28
동구        250    9.87   89.171     28
중구        129    2.83   44.278     21
영도구       405   14.20  119.870     19
강서구      1124  181.50  132.825     37
북구        454   39.37  294.374     36
사상구       483   36.10  225.812     35
사하구       638   41.77  328.331     38
동래구       574   16.63  270.202     46
부산진구      680   29.67  362.128     69
연제구       314   12.10  210.572     31
서구        313   13.95  111.226     37

In [17]:
result['DS'] = result['STOPNUM']/result['AREA']
result['DP'] = result['STOPNUM']/result['PPL']
result

      STOPNUM    AREA      PPL BUSNUM         DS        DP
기장군       814  218.32  167.203     41   3.728472  4.868334
금정구       499   65.28  245.408     37   7.643995  2.033349
해운대구      620   51.54  411.693     43  12.029492  1.505977
수영구       243   10.22  178.514     21  23.776908  1.361238
남구        527   26.82  283.444     28  19.649515  1.859274
동구        250    9.87   89.171     28  25.329281  2.803602
중구        129    2.83   44.278     21  45.583039  2.913411
영도구       405   14.20  119.870     19  28.521127  3.378660
강서구      1124  181.50  132.825     37   6.192837  8.462262
북구        454   39.37  294.374     36  11.531623  1.542256
사상구       483   36.10  225.812     35  13.379501  2.138947
사하구       638   41.77  328.331     38  15.274120  1.943161
동래구       574   16.63  270.202     46  34.515935  2.124337
부산진구      680   29.67  362.128     69  22.918773  1.877789
연제구       314   12.10  210.572     31  25.950413  1.491176
서구        313   13.95  111.226     37  22.437276  2.814090

In [18]:
AA = result[['DS', 'DP']]
print(AA.max(axis=1))

기장군      4.868334
금정구      7.643995
해운대구    12.029492
수영구     23.776908
남구      19.649515
동구      25.329281
중구      45.583039
영도구     28.521127
강서구      8.462262
북구      11.531623
사상구     13.379501
사하구     15.274120
동래구     34.515935
부산진구    22.918773
연제구     25.950413
서구      22.437276
dtype: float64

In [19]:
ds = (np.mean(result['DS']))
dp = (np.mean(result['DP']))
ds, dp

(19.903894240304755, 2.6948663929010315)

In [20]:
result['T'] = result['BUSNUM']/result['PPL']
result

      STOPNUM    AREA      PPL BUSNUM         DS        DP         T
기장군       814  218.32  167.203     41   3.728472  4.868334  0.245211
금정구       499   65.28  245.408     37   7.643995  2.033349  0.150769
해운대구      620   51.54  411.693     43  12.029492  1.505977  0.104447
수영구       243   10.22  178.514     21  23.776908  1.361238  0.117638
남구        527   26.82  283.444     28  19.649515  1.859274  0.098785
동구        250    9.87   89.171     28  25.329281  2.803602  0.314003
중구        129    2.83   44.278     21  45.583039  2.913411  0.474276
영도구       405   14.20  119.870     19  28.521127  3.378660  0.158505
강서구      1124  181.50  132.825     37   6.192837  8.462262  0.278562
북구        454   39.37  294.374     36  11.531623  1.542256  0.122293
사상구       483   36.10  225.812     35  13.379501  2.138947  0.154996
사하구       638   41.77  328.331     38  15.274120  1.943161  0.115737
동래구       574   16.63  270.202     46  34.515935  2.124337  0.170243
부산진구      680   29.67  362.128     69  22.918773  1.877789   0.19054
연제구       314   12.10  210.572     31  25.950413  1.491176  0.147218
서구        313   13.95  111.226     37  22.437276  2.814090  0.332656

In [21]:
E = np.sqrt(np.sum(np.square(result['T'] - np.mean(result['T'])) / 15))
print('E =', E)

E = 0.10431689972740628